[submodule "Git_tutorial_exercises_branches"]
	path = Git_tutorial_exercises_branches
	url = https://github.com/azuzo99/Git_tutorial_exercises_branches.git
[submodule "07_Stashing/Git_Tutorial_stashing"]
	path = 07_Stashing/Git_Tutorial_stashing
	url = https://github.com/azuzo99/Git_Tutorial_stashing.git
[submodule "08_Undoing_changes/yesterday-exercise"]
	path = 08_Undoing_changes/yesterday-exercise
	url = https://github.com/Colt/yesterday-exercise
[submodule "11_Git_Rebase/rebase_exercise"]
	path = 11_Git_Rebase/rebase_exercise
	url = https://github.com/azuzo99/rebase_exercise.git
[submodule "12_Cleaning_History/exercise/interactive-rebase-demo"]
	path = 12_Cleaning_History/exercise/interactive-rebase-demo
	url = https://github.com/Colt/interactive-rebase-demo.git
